* {
	background-color: rgb(50,55,61);
}

body {
	overflow-x: hidden;
}

.container-fluid,
.row-fluid {
	width: 100%;
}

.row-fluid {
	margin-left: 20px;
	margin-top: 20px;
}
.span7{
	border: 1px solid yellow;
}
